.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15vw; 
  height: auto; 
}

@media (max-width: 768px) {
  .buttons {
    padding-top: 20vw;
  }
}


@media (max-width: 480px) {
  .buttons {
    padding-top: 25vw;
  }
}
